/*---------------------------------------------
* Base
*/
body{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: url(img/bg.png) repeat #f9f9f9;
    margin-top: 50px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

h4{font-size: 24px;}

a{
    transition: all 200ms ease-out;
    color: #00aedb;
    font-weight: 700;
}
a:hover{
    text-decoration: none;
    color: #000;
}


/*---------------------------------------------
* Scrolling Nav
*/
.navbar-brand img{
    width: 130px;
    height: auto;
    margin-top: -21px;
}
.navbar-default {
    background-color: #fff;
    font-family: 'Play', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a {
    color: #00aedb;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #fff;
}
@media(min-width:767px) {
    .navbar {
        padding: 15px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

/*---------------------------------------------
* Section
*/
.one-section,
.two-section,
.three-section,
.fo-section,
.five-section,
.six-section,
.seven-section {
    background: #fff;
    padding: 35px;
}
.ex{
    margin-top: 60px;
    background: #fff;
    border: 1px solid #e7e7e7;
}

.bottom-sidebar {
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    background-image: url(img/title-area-pattern.png);
    display: block;
    padding-bottom: 35px;
    padding-top: 5px;
    margin-top: 60px;
}
.copyright{
    width: 100%;
    height: auto;
    background-color: #454545;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    padding: 20px 0px;
}
.copyright p{
    text-align: center;
    color: #999999;
    line-height: 1;
    margin: 0;
}
.copyright a{
    color: #fff;
    text-decoration: none;
}
.copyright a:hover,
.copyright a:focus{
    color: #ddd;
    text-decoration: none;
}
.red{
    color: #d11141;
}
.green{
    color: #00b159;
}
.blue{
    color: #00aedb;
    font-family: 'Play', sans-serif;
    font-weight: 700;
    border-radius: 0;
}
.orange{
    color: #f37735;
}
.yellow{
    color: #ffc425;
}
.hspaser20{
    margin-bottom: 20px;
    width: 100%;
}